body {
  background-color: #f3f6f4;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  color: #444444;
  margin: 3%;
}

.img-link:hover {
  opacity: 0.5;
  transform: scale(0.85);
 
}


/* links */
a {
  color: #444444;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
/* links */


.img-link {

  object-fit: cover;
  width: 100%; 
}

.img-static {

  object-fit: cover;
  width: 100%; 
}



.header {
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-template-columns: repeat(10, 60px);
  gap: 0.5%;
  grid-auto-rows: minmax(auto);
  font-size: x-large;
  color: black;
margin-top: 5px;
  margin:10px;
  margin-bottom: 10px;

}

.header-name {
  margin-top: 14px;
  grid-column: 2 / 11;
}

.desc {
  font-size: medium;
}

.avatar {
  height: 65px;
  width: 65px;
}

.wrapper-cred {
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-template-columns: repeat(10, 60px);
  gap: 0.5%;
  grid-auto-rows: minmax(auto);

}




.one {
  grid-column: 1 / 11;
  grid-row: 1;
  /* background-color: blueviolet; */
  display: flex;
  text-align: center;
  align-items: center;
  margin: 2%;
}

.two {
  grid-column: 1 / 11;
  grid-row: 2;
  /* background-color: yellowgreen; */
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 7%;
}

/* .socials {
  grid-row: 3;
  display: flex;
  
} */

.wrapper-soc {
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-template-columns: repeat(10, 50px);
  gap: 0.5px;
  grid-auto-rows: minmax(auto);
}

.socials {
  margin-left: px;
  grid-row: 3;
  height: 35px;
  width: 35px;
  display: flex;
 justify-content: center;
  margin-right: ;0px
}

.filename {
  grid-column: 6 / 11;
  grid-row: 3;
  vertical-align: middle;
  margin-top: 10px;
}

.socials1 {

}

.socials2 {

}

.socials3 {
}

.socials4 {
}

.socials5 {
  border-left: #444444 solid 2px;
}


.six {
  /* grid-column: 1 / 11;
  grid-row: 4;
  display: flex;
  text-align: left;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: small;
  height: 25px; */
}

/* .pdf {
  width: 35px;
  height: 35px;
} */

.seven {
  grid-column: 1 / 6;
  grid-row: 5;
  display:grid
  text-align: left;
  align-items: center;
  margin: 2%;
  font-size: small;
  height: 200px;
}

.credentials {
text-align: center;
font-weight: bold;
border: grey;
border-style: solid;
border-width: 0.5px;
border-radius: 2px;
}



.credentials-body {
  margin-top: 10px;
  padding-left: 2%;
  font-size: smaller;
}

.eight {
  grid-column: 6 / 11;
  grid-row: 5;
  display:grid
  text-align: left;
  align-items: center;
  margin: 2%;
  font-size: small;
  height: 200px;
}

.techskills {
text-align: center;
font-weight: bold;
border: grey;
border-style: solid;
border-width: 0.5px;
border-radius: 2px;
}

.techskills-body {
  margin-top: -10px;
  padding-left: 8%;
  font-size: smaller;
}

li span {
  position: relative;
  left: -10px;
  top: 10px;
}

.credentials2 {
  grid-row: 6;
  grid-column: 1 / 11;
  text-align: center;
  font-weight: bold;
  border: #444444;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  margin-top: 10px;
}

.nine {
  font-size: medium;

  /* grid-column: 1 / 6; */
  grid-row: 7;
  display:grid
  text-align: left;
  align-items: center;
  /* margin: 2%; */
  height: 50px;
  width: 50px;
  /* height: 200px; */
}

.ten {
  font-size: medium;
  margin-top: 1%;
margin-left: 1%;
  height: 50px;
  grid-column: 2/ 11;
  grid-row: 7;
  display:grid
  text-align: left;
  align-items: center;
  /* margin: 2%; */

  /* height: 200px; */
}

.eleven {
  font-size: medium;

  /* grid-column: 1 / 6; */
  grid-row: 8;
  display:grid
  text-align: left;
  align-items: center;
  /* margin: 2%; */
 
  height: 50px;
  width: 50px;
  /* height: 200px; */
}

.twelve {
  margin-top: 1%;
margin-left: 1%;
  height: 50px;
  grid-column: 2/ 11;
  grid-row: 8;
  display:grid
  text-align: left;
  align-items: center;
  /* margin: 2%; */
  font-size: medium;
  /* height: 200px; */
}

.thirteen {

  /* grid-column: 1 / 6; */
  grid-row: 9;
  display:grid
  text-align: left;
  align-items: center;
  /* margin: 2%; */
  font-size: small;
  height: 50px;
  width: 50px;
  /* height: 200px; */
}

.fourteen {
  margin-top: 1%;
margin-left: 1%;
  height: 50px;
  grid-column: 2/ 11;
  grid-row: 9;
  display:grid
  text-align: left;
  align-items: center;
  /* margin: 2%; */
  font-size: medium;
  /* height: 200px; */
}

.skills {
  grid-row: 10;
  grid-column: 1 / 11;
  text-align: center;
  font-weight: bold;
  border: #444444;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

.skillslist1 {
  grid-row: 11;
  grid-column: 1 / 6;

}

.skillslist2 {
  grid-row: 11;
  grid-column: 6 / 11;
}

.skills-list {
  text-align: left;
  vertical-align: middle;
}

.wrapper-port {
  margin-top: 1%;
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-template-columns: repeat(10, 60px);
  gap: 2px;
  grid-template-rows: 1fr min-content;
}

.row-border {
  border-top: 2px solid #444444 ;
  grid-column: 1 / 11;
}

.portfolio {
  grid-row: 2;
  grid-column: 1 / 11;
  text-align: center;
  font-weight: bold;
  border: #444444;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
}

/* .title {
  grid-column: 1 / 11;
  grid-row: 13;
  text-align: center;
  font-weight: bold;
  border: #444444;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
} */

.port-tag {
  display: flex;
}

.pi-colorbox1 {
  grid-row: 3;
  /* grid-column: 1 / 3; */
  height: 60px;
  width: 60px;
}

.pi-text1 {
grid-row: 3;
grid-column: 2 / 11;
}

.pi-colorbox2 {
  grid-row: 5;
  /* grid-column: 1 / 3; */
  height: 60px;
  width: 60px;
}

.pi-text2 {
grid-row: 5;
grid-column: 2 / 11;
}

.portborder2 {
  grid-row: 6;
}

.pi-colorbox3 {
  grid-row: 7;
  /* grid-column: 1 / 3; */
  height: 60px;
  width: 60px;
}

.pi-text3 {
grid-row: 7;
grid-column: 2 / 11;
}

.portborder3 {
  grid-row: 8;
}

.port-buttons {
  object-fit: cover;
  width: 100%;
}

/* ----------tags */
.infographic {
  color: #8b008b;
  font-weight: bold;
  margin-left: 4px;
}

.canva {
  color: teal;
  font-weight: bold;
  margin-left: 4px;
}

.procedural {
  color:  #ff1616;
  font-weight: bold;
  margin-left: 4px;
}

.google-sites {
  color:blue;
  font-weight: bold;
  margin-left: 4px;
}

.pdf {
  color: teal;
  font-weight: bold;
  margin-left: 4px;
}

.row-border {
    border-top: 2px solid #444444 ;
    grid-column: 1 / 11;
}


.portborder1 {
  grid-row: 4;
}