* {
  box-sizing: border-box;
  margin: 0;
}

@media (max-width: 767px) {
  * {
    margin-left: 3%;
    margin-right: 3%;
  }
}
/* ----------------------------------------------BODY-- */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f6f4;
  font-family: "Open Sans", sans-serif;
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 95%;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
}

@media (max-width: 767px) {
  body {
    margin-left: 1%;
    margin-right: 1%;
  }
}
/* ----------------------------------------------BODY-- */

/* ----------------------------------------------DIVIDER-- */
.divider-container {
  display: flex;
  align-items: center;
  margin-top: 1%;
}

@media (max-width: 767px) {
  .divider-container {
    margin-top: 10px;
  }
}

.divider-text {
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  font-weight: bold   ;
}

.divider {
  flex-grow: 1;
  height: 1px;
  background-color: #000000; /* Adjust the color as desired */
  wid
}

@media (max-width: 767px) {
  .divider {
    width: 50%;
  }
}

.divider-left {
  /* flex-grow: 1; */
  height: 1px;
  width: 20px;
  background-color: #000000; /* Adjust the color as desired */
}

@media (max-width: 767px) {
  .divider-left {
    width: 50%;
  }
}
/* ----------------------------------------------DIVIDER-- */

/* ----------------------------------------------SECTION-- */
/* Section styles */
section {
  width: 100%;
  margin-top: 20px;
}
section:not(.portfolio) p {
  padding-left: 1%;
  padding-right: 1%;
}

@media (max-width: 767px) {
  p {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
/* ----------------------------------------------SECTION-- */


/* Header styles */
header {
  text-align: center;
}

/* ----------------------------------------------PROFILE-- */
/* Container for profile section */
.profile-container {
  margin-left: 1%;
  margin-right: 1%;
}

.profile-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .profile-section {
    height: auto;
    text-align: justify;
    margin: 0;
  }
}
/* ----------------------------------------------PROFILE-- */

.job-title {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust the width to fit within the container */
}

.job-title h2,
.job-title p {
  margin: 0;
}

@media (max-width: 767px) {
  .job-title {
    height: auto;
    text-align: justify;
    margin: 0;
  }
}

/* ----------------------------------------------SOCIALS-- */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%; /* Adjust the width to fit within the container */
  margin-top: 2%;
}

.socials img {
  width: 40px;
}

.img-link-container {
  width: 40px; /* Adjust to match your icon's width */
  height: 40px; /* Adjust to match your icon's height */
  display: inline-block;
  line-height: 0; /* Add this line */
  font-size: 0; /* Add this line */
  box-sizing: border-box;
}

a.img-link-container {
  display: inline-block;
  overflow: hidden;
  width: 40px;
}

/* ----------------------------------------------SOCIALS-- */


/* Bio section styles */
.bio-section {
  text-align: left;
  height: auto;
}

.bio-section p {
  margin-top: 0; /* Remove the top margin */
  font-size: medium;
  padding-left: 10%;
  padding-right: 10% ;
  color: black;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .bio-section p {
    height: auto;
    text-align: justify;
    margin: 0;
    width: auto;
  }
}

@media (max-width: 767px) {
  .bio-section {
    height: auto;
    text-align: justify;
    margin: 0;
  }
}

/* Social media section styles
.social-media {
  text-align: center;
}

.social-media {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socials img {
  width: 50px; /* Adjust the width as desired */

.filename {
  text-align: center;
}

/* Credentials styles */
.credentials {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px;
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
  cursor: pointer; /* Show pointer cursor on hover */
}

@media (max-width: 767px) {
  .card-container {
    flex-direction: column; /* Stack cards vertically */
    align-items: center; /* Center cards horizontally */
    margin-left: 0px;
    margin-right: 0px;
  }
}

.card {
  width: 370px;
  height: 80px;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0.8, 0.8);
  border-radius: 10px;
 margin: 5px
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  border: 2px solid #444444;
}

.card img {
  width: 57px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.credential-info {
  flex: 1; /* Fill the remaining space */
  text-align: left;
}

.credential-title {
  font-weight: bold;
}

/* Previous experience styles */
.experience {
  display: flex;
  align-items: center;
}

.experience img {
  width: 60px;
  height: 60px;
}

@media (max-width: 767px) {
  .experience {
    margin: 0;
    margin-top: 2%;
  }
}

/* Skills section styles */
.skills {
  text-align: center;
  margin-top: 5px;
}

.skill-box {
  display: inline-block;
  white-space: nowrap; /* Prevent line breaks within the box */
}

@media (max-width: 767px) {
  /* Adjust the styles for mobile screens */
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
  }
}

.skill-button {
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0.4, 0.4);
  border-radius: 6px;
  border: 1px solid #f3f6f4;
  color: #f3f6f4;
  background-color: #444444;
}

@media (max-width: 767px) {
  /* Adjust the styles for mobile screens */
  .skill-button {
    display: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
  }
}

/* Portfolio section styles */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.portfolio p, h3 {
  padding-left: 2%;
}


.port-card {
  display: flex; /* Changes the display to flex */
  box-shadow: 0px 2px 4px rgba(1, 1, 0.4, 1);
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1%;
}

.port-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
  border: 2px solid #444444;
}

.port-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 200px; /* This means the image will not grow or shrink, and it will have a base width of 200px */
  height: 100px; /* Specify the height of the image container */
}

.port-image img {
  width: 90%; /* Makes the image a square with the same height as the card */
  height: 90%;
  object-fit: cover; /* Makes sure the image covers the entire area */
}

.port-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* Aligns the text to the left */
  flex: 1; /* This means the content will take up the remaining space */
  margin: 5px 5px;

}

.port-title p, .port-description p {
 padding: 3px;
 margin-left: 3px;

}

.port-card-link {
  width: 100%;
  display: block;
  text-decoration: none; 
  color: inherit;
}

.port-tags span {
  font-weight: bold;
}

.tag1 {
  color: #004280;
}

.tag2 {
  color: #3f7f9b;
}

.tag3 {
  color: #0063c0;
}

.tag4 {
  color: #0063c0;
}

.tag5 {
  color: #0a5D00;
}

.tag6 {
  color: #1FC600;
}

@media screen and (max-width: 768px) { /* Change the width based on when you want the layout to switch */
  .portfolio {
 margin: 0;
 padding: 0;
  }

  .portfolio p {
    margin: 0;
    padding: 2%;
     }
  
  .port-title, .port-description {
    padding-left: 0px;
  }

  .port-card {
    flex-direction: column; /* This will stack the children vertically */
    margin-bottom: 2%;
    margin-left: 0;
  }

  .port-image img {
    width: 100%; /* Adjusts the width of the image */
    height: 100%; /* Adjusts the height of the image */
    object-fit: contain; /* Makes sure the image is entirely visible */
  }

  .port-content {
    width: 100%; /* This will make the content take the full width of the card */
    margin: 0;
  }

  .port-title p, .port-description p {
    padding: 0px;
    margin-left: 0px;
   }

  

  }



footer {
  text-align: center;
  margin-top: 10%;
}
